*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
.header{
    background-image: url(../img/fundo-menu-superior.svg);
    color: aliceblue;
}
.logo{
    margin-left: 50px;
    margin-top: 50px;
}
#superMenuTitle{
    margin-left: 150px;
    margin-top: 50px;
}
#super-MenuText{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}
#menuInformacional{
    background-color: #eaece5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.icone{
    margin: 50px 0px 50px 100px; /* cima direita baixo esquerda */
    padding: 25px;
}
.textoInformativo{
    /* margin: 50px 50px 50px 75px; */
    display: flex;
    align-items: center;
}
#tituloVideo{
    color: #247BA0;
    margin-top: 50px;

}
#secaoVideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#video{
    margin: 50px 25px 50px 100px;
}
#carrosel{
    background-color: #247BA0;
    padding: 50px;    
}
#titulo-carrosel{
    color: #fff;
    text-align: center;
    /* align-items: center; */
    font-size: 25px;
}
#div-card{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}
.card{
    margin-left: 50px;
}
#seta-esquerda{
    display: none;
}
#bruna{
    display: none;
}
#div-card img.setas{
    margin-top: 145%;
    /* align-items: center; */
}