*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
.header{
    background-image: url(../img/fundo-menu-superior.svg);
    color: aliceblue;
}
.logo{
    margin-left: 50px;
    margin-top: 50px;
}
#superMenuTitle{
    margin-left: 150px;
    margin-top: 50px;
}
#super-MenuText{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}
#menuInformacional{
    background-color: #eaece5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.icone{
    margin: 50px 0px 50px 100px; /* cima direita baixo esquerda */
    padding: 25px;
}
.textoInformativo{
    /* margin: 50px 50px 50px 75px; */
    display: flex;
    align-items: center;
}
