*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
.header{
    background-image: url(../img/fundo-menu-superior.svg);
    color: aliceblue;
}
.logo{
    margin-left: 50px;
    margin-top: 50px;
}
#superMenuTitle{
    margin-left: 150px;
    margin-top: 50px;
}
#super-MenuText{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}
#menuInformacional{
    background-color: #eaece5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.icone{
    margin: 50px 0px 50px 100px; /* cima direita baixo esquerda */
    padding: 25px;
}
.textoInformativo{
    /* margin: 50px 50px 50px 75px; */
    display: flex;
    align-items: center;
}
#tituloVideo{
    color: #247BA0;
    margin-top: 50px;

}
#secaoVideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#video{
    margin: 50px 25px 50px 100px;
}
#carrosel{
    background-color: #247BA0;
    padding: 50px;    
}
#titulo-carrosel{
    color: #fff;
    text-align: center;
    /* align-items: center; */
    font-size: 25px;
}
#div-card{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}
.card{
    margin-left: 50px;
}
#seta-esquerda{
    display: none;
}
#bruna{
    display: none;
}
#div-card img.setas{
    margin-top: 145%;
    /* align-items: center; */
    cursor: pointer;
}
#div-card img.setas:hover{
    transform: translateY(-7px);
    transition: 0.5s;
}
#formulario{
    text-align: center;
}
#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}
input{
    width: 300px;
    height: 40px;
    background-color: #eaece5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}
button{
    background-color: #247BA0;
    color: #eaece5;
    height: 40px;
    width: 250px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color: #408dad;
    color: #fff;
    transform: translateY(-7px);
    transition: 0.7s;
    box-shadow: 0px 15px 20px #174255;
}